In [1]:
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook
from config import gkey
import gmaps
import numpy as np

In [2]:
Project1_Data = "Project1_Data.csv"
Project1_Data_df = pd.read_csv(Project1_Data, dtype=str, low_memory=False)

In [3]:
zipcode = Project1_Data_df['Zip Code']

In [4]:
data_list = []
search = SearchEngine(simple_zipcode=False)
for zip_ in tqdm_notebook(zipcode): 
    result = search.by_zipcode(zip_).to_dict()
    try:
        Total_Degrees = (result['educational_attainment_for_population_25_and_over'][0]['values'][2]['y']+
                        result['educational_attainment_for_population_25_and_over'][0]['values'][3]['y']+
                        result['educational_attainment_for_population_25_and_over'][0]['values'][4]['y']+
                        result['educational_attainment_for_population_25_and_over'][0]['values'][5]['y']+
                        result['educational_attainment_for_population_25_and_over'][0]['values'][6]['y'])
    except (TypeError):
        Total_Degrees = np.nan
    data_list.append({'Zip_Code': zip_,
            'City' : result['major_city'],
            'Lat' : result['lat'],
            'Lng' : result['lng'],
            'Median Income' : result['median_household_income'],
            'Population' : result['population'],
            'Total Degrees' : Total_Degrees})

HBox(children=(IntProgress(value=0, max=33120), HTML(value='')))

In [5]:
zip_data_df = pd.DataFrame(data_list)

In [6]:
zip_data_df

,City,Lat,Lng,Median Income,Population,Total Degrees,Zip_Code
0,Adjuntas,NaN,NaN,NaN,NaN,NaN,00601
1,Aguada,18.360,-67.180,NaN,41520.0,NaN,00602
2,Aguadilla,18.450,-67.110,NaN,54689.0,NaN,00603
3,Maricao,18.200,-66.900,NaN,6615.0,NaN,00606
4,Anasco,18.280,-67.130,NaN,29016.0,NaN,00610
5,Arecibo,18.400,-66.680,NaN,67010.0,NaN,00612
6,Bajadero,18.400,-66.680,NaN,11017.0,NaN,00616
7,Barceloneta,18.440,-66.560,NaN,24597.0,NaN,00617
8,Boqueron,18.000,-67.160,NaN,7853.0,NaN,00622
9,Cabo Rojo,18.100,-67.200,NaN,43061.0,NaN,00623
10,Penuelas,NaN,NaN,NaN,NaN,NaN,00624
11,Camuy,18.420,-66.860,NaN,35159.0,NaN,00627
12,Castaner,NaN,NaN,NaN,NaN,NaN,00631
13,Sabana Grande,NaN,NaN,NaN,NaN,NaN,00637
14,Ciales,18.300,-66.500,NaN,18941.0,NaN,00638
15,Utuado,18.200,-66.700,NaN,31191.0,NaN,00641
16,Dorado,NaN,NaN,NaN,NaN,NaN,00646
17,Ensenada,17.980,-66.920,NaN,6172.0,NaN,00647
18,Florida,18.380,-66.560,NaN,14998.0,NaN,00650
19,Garrochales,18.460,-66.640,NaN,4715.0,NaN,00652
20,Guanica,17.980,-66.920,NaN,13307.0,NaN,00653
21,Guayanilla,18.040,-66.790,NaN,21481.0,NaN,00656
22,Hatillo,18.410,-66.800,NaN,41953.0,NaN,00659
23,Hormigueros,18.130,-67.120,NaN,17250.0,NaN,00660
24,Isabela,NaN,NaN,NaN,NaN,NaN,00662
25,Jayuya,18.230,-66.590,NaN,16784.0,NaN,00664
26,Lajas,NaN,NaN,NaN,NaN,NaN,00667
27,Lares,18.300,-66.900,NaN,29744.0,NaN,00669
28,Las Marias,18.240,-66.990,NaN,9807.0,NaN,00670
29,Manati,18.420,-66.490,NaN,44457.0,NaN,00674
...,...,...,...,...,...,...,...
33090,Ambler,67.080,-157.860,38750.0,259.0,11.0,99786
33091,Chalkyitsik,66.000,-143.000,38750.0,69.0,5.0,99788
33092,Nuiqsut,70.220,-150.990,94375.0,402.0,20.0,99789
33093,Fairbanks,64.846,-147.722,50833.0,20.0,3.0,99790
33094,Atqasuk,70.000,-158.000,60000.0,237.0,14.0,99791
33095,Juneau,58.000,-134.000,82993.0,29164.0,8731.0,99801
33096,Angoon,58.000,-134.000,32857.0,479.0,72.0,99820
33097,Douglas,58.250,-134.390,62721.0,2111.0,747.0,99824
33098,Elfin Cove,58.180,-136.320,34167.0,120.0,17.0,99825
33099,Gustavus,59.000,-137.000,52188.0,442.0,257.0,99826
33100,Haines,59.000,-135.000,52848.0,2602.0,710.0,99827
33101,Hoonah,58.000,-135.700,48750.0,777.0,118.0,99829
33102,Kake,56.800,-133.500,38750.0,561.0,82.0,99830
33103,Pelican,57.960,-136.220,73750.0,104.0,13.0,99832
33104,Petersburg,57.000,-133.000,68646.0,3202.0,870.0,99833
33105,Sitka,57.000,-136.000,69405.0,8880.0,2528.0,99835
33106,Port Alexander,56.220,-134.640,56250.0,52.0,6.0,99836
33107,Skagway,59.600,-135.400,71667.0,968.0,221.0,99840
33108,Tenakee Springs,57.775,-135.201,62813.0,133.0,30.0,99841
33109,Ketchikan,55.600,-131.400,62519.0,13508.0,2999.0,99901
33110,Meyers Chuck,56.000,-131.500,NaN,31.0,0.0,99903
33111,Coffman Cove,56.010,-132.830,24844.0,231.0,14.0,99918
33112,Thorne Bay,55.600,-132.400,49050.0,531.0,143.0,99919
33113,Craig,55.490,-133.130,54554.0,1920.0,385.0,99921
33114,Hydaburg,55.200,-132.900,37361.0,384.0,17.0,99922
33115,Hyder,56.000,-131.000,21944.0,87.0,53.0,99923
33116,Klawock,55.550,-133.080,38125.0,819.0,29.0,99925
33117,Metlakatla,55.100,-131.400,50052.0,1460.0,128.0,99926
33118,Point Baker,56.352,-133.629,19000.0,94.0,5.0,99927
33119,Wrangell,56.000,-132.000,45649.0,2338.0,393.0,99929

In [8]:
zip_data_df.to_csv('Project1_Zipcode_Data.csv', index=False)

In [9]:
zip_data = "Project1_Zipcode_Data.csv"
zip_data_df = pd.read_csv(zip_data, dtype=str, low_memory=False)

In [10]:
zip_data_df

,City,Lat,Lng,Median Income,Population,Total Degrees,Zip_Code
0,Adjuntas,NaN,NaN,NaN,NaN,NaN,00601
1,Aguada,18.36,-67.18,NaN,41520.0,NaN,00602
2,Aguadilla,18.45,-67.11,NaN,54689.0,NaN,00603
3,Maricao,18.2,-66.9,NaN,6615.0,NaN,00606
4,Anasco,18.28,-67.13,NaN,29016.0,NaN,00610
5,Arecibo,18.4,-66.68,NaN,67010.0,NaN,00612
6,Bajadero,18.4,-66.68,NaN,11017.0,NaN,00616
7,Barceloneta,18.44,-66.56,NaN,24597.0,NaN,00617
8,Boqueron,18.0,-67.16,NaN,7853.0,NaN,00622
9,Cabo Rojo,18.1,-67.2,NaN,43061.0,NaN,00623
10,Penuelas,NaN,NaN,NaN,NaN,NaN,00624
11,Camuy,18.42,-66.86,NaN,35159.0,NaN,00627
12,Castaner,NaN,NaN,NaN,NaN,NaN,00631
13,Sabana Grande,NaN,NaN,NaN,NaN,NaN,00637
14,Ciales,18.3,-66.5,NaN,18941.0,NaN,00638
15,Utuado,18.2,-66.7,NaN,31191.0,NaN,00641
16,Dorado,NaN,NaN,NaN,NaN,NaN,00646
17,Ensenada,17.98,-66.92,NaN,6172.0,NaN,00647
18,Florida,18.38,-66.56,NaN,14998.0,NaN,00650
19,Garrochales,18.46,-66.64,NaN,4715.0,NaN,00652
20,Guanica,17.98,-66.92,NaN,13307.0,NaN,00653
21,Guayanilla,18.04,-66.79,NaN,21481.0,NaN,00656
22,Hatillo,18.41,-66.8,NaN,41953.0,NaN,00659
23,Hormigueros,18.13,-67.12,NaN,17250.0,NaN,00660
24,Isabela,NaN,NaN,NaN,NaN,NaN,00662
25,Jayuya,18.23,-66.59,NaN,16784.0,NaN,00664
26,Lajas,NaN,NaN,NaN,NaN,NaN,00667
27,Lares,18.3,-66.9,NaN,29744.0,NaN,00669
28,Las Marias,18.24,-66.99,NaN,9807.0,NaN,00670
29,Manati,18.42,-66.49,NaN,44457.0,NaN,00674
...,...,...,...,...,...,...,...
33090,Ambler,67.08,-157.86,38750.0,259.0,11.0,99786
33091,Chalkyitsik,66.0,-143.0,38750.0,69.0,5.0,99788
33092,Nuiqsut,70.22,-150.99,94375.0,402.0,20.0,99789
33093,Fairbanks,64.846,-147.722,50833.0,20.0,3.0,99790
33094,Atqasuk,70.0,-158.0,60000.0,237.0,14.0,99791
33095,Juneau,58.0,-134.0,82993.0,29164.0,8731.0,99801
33096,Angoon,58.0,-134.0,32857.0,479.0,72.0,99820
33097,Douglas,58.25,-134.39,62721.0,2111.0,747.0,99824
33098,Elfin Cove,58.18,-136.32,34167.0,120.0,17.0,99825
33099,Gustavus,59.0,-137.0,52188.0,442.0,257.0,99826
33100,Haines,59.0,-135.0,52848.0,2602.0,710.0,99827
33101,Hoonah,58.0,-135.7,48750.0,777.0,118.0,99829
33102,Kake,56.8,-133.5,38750.0,561.0,82.0,99830
33103,Pelican,57.96,-136.22,73750.0,104.0,13.0,99832
33104,Petersburg,57.0,-133.0,68646.0,3202.0,870.0,99833
33105,Sitka,57.0,-136.0,69405.0,8880.0,2528.0,99835
33106,Port Alexander,56.22,-134.64,56250.0,52.0,6.0,99836
33107,Skagway,59.6,-135.4,71667.0,968.0,221.0,99840
33108,Tenakee Springs,57.775,-135.201,62813.0,133.0,30.0,99841
33109,Ketchikan,55.6,-131.4,62519.0,13508.0,2999.0,99901
33110,Meyers Chuck,56.0,-131.5,NaN,31.0,0.0,99903
33111,Coffman Cove,56.01,-132.83,24844.0,231.0,14.0,99918
33112,Thorne Bay,55.6,-132.4,49050.0,531.0,143.0,99919
33113,Craig,55.49,-133.13,54554.0,1920.0,385.0,99921
33114,Hydaburg,55.2,-132.9,37361.0,384.0,17.0,99922
33115,Hyder,56.0,-131.0,21944.0,87.0,53.0,99923
33116,Klawock,55.55,-133.08,38125.0,819.0,29.0,99925
33117,Metlakatla,55.1,-131.4,50052.0,1460.0,128.0,99926
33118,Point Baker,56.352,-133.629,19000.0,94.0,5.0,99927
33119,Wrangell,56.0,-132.0,45649.0,2338.0,393.0,99929

In [11]:
#generating map 

gmaps.configure(api_key=gkey)

In [12]:
zipcode_clean_df = zip_data_df.dropna()

In [13]:
zipcode_clean_df.head()

,City,Lat,Lng,Median Income,Population,Total Degrees,Zip_Code
131,Agawam,42.07,-72.63,58733.0,16769.0,4731.0,01001
132,Amherst,42.38,-72.52,54422.0,29049.0,9137.0,01002
134,Barre,42.42,-72.12,68644.0,5079.0,1134.0,01005
135,Belchertown,42.3,-72.4,71875.0,14649.0,4923.0,01007
136,Blandford,42.2,-73.0,71635.0,1263.0,324.0,01008

In [15]:
locations = zipcode_clean_df[["Lat","Lng"]].astype(float)

# Convert to float and store

locations = zipcode_clean_df[["Lat","Lng"]].astype(float)
median = zipcode_clean_df["Total Degrees"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=median)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
locations = zipcode_clean_df[["Lat","Lng"]].astype(float)

# Convert to float and store

locations = zipcode_clean_df[["Lat","Lng"]].astype(float)
median = zipcode_clean_df["Median Income"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=median)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))